USE [master]
GO
/****** Object:  Database [GuestHouseDB]    Script Date: 25-11-2020 01:51:04 ******/
CREATE DATABASE [GuestHouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuestHouseDB', FILENAME = N'C:\Users\Vivek Sengar\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\GuestHouseDB_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuestHouseDB_log', FILENAME = N'C:\Users\Vivek Sengar\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\GuestHouseDB_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuestHouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuestHouseDB]
GO
USE [GuestHouseDB]
GO
/****** Object:  Schema [Master]    Script Date: 25-11-2020 01:51:04 ******/
CREATE SCHEMA [Master]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[BookingFrom] [datetime] NOT NULL,
	[BookingTo] [datetime] NOT NULL,
	[AssignRoomID] [int] NOT NULL,
	[NoOfMembers] [int] NULL,
	[PhoneNo] [nvarchar](10) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[BookingTypeID] [int] NOT NULL,
	[TrainingName] [nvarchar](50) NULL,
	[TrainingDirector] [nvarchar](50) NULL,
	[TrainingFrom] [datetime] NULL,
	[TrainingTo] [datetime] NULL,
	[PurposeOfVisit] [nvarchar](100) NULL,
	[VisitingWhom] [nvarchar](50) NULL,
	[CenterVisiting] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
	[MobileNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[GuestId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Guest__0C423C126815141F] PRIMARY KEY CLUSTERED 
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PrimaryRole] [nvarchar](50) NOT NULL,
	[SecondaryRole] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
	[PaymentTypeID] [int] NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PR_tbl_Employee]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR_tbl_Employee](
	[EID] [int] IDENTITY(1,1) NOT NULL,
	[OID] [int] NULL,
	[ETID] [int] NULL,
	[EmpType] [varchar](max) NULL,
	[ECID] [int] NULL,
	[EmpCategory] [varchar](max) NULL,
	[EGID] [int] NULL,
	[EmpGroup] [varchar](max) NULL,
	[DID] [int] NULL,
	[DeptID] [varchar](max) NULL,
	[DSID] [int] NULL,
	[Design] [varchar](max) NULL,
	[EmpID] [int] NOT NULL,
	[Name] [varchar](max) NULL,
	[FathersName] [varchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
	[Mobile] [decimal](10, 0) NULL,
	[Aadhar] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[DOJ] [datetime] NULL,
	[Gender] [varchar](50) NULL,
	[PAN] [varchar](50) NOT NULL,
	[BankAcType] [varchar](max) NULL,
	[BankName] [varchar](max) NULL,
	[BankBranch] [varchar](max) NULL,
	[BankAccNo] [decimal](18, 0) NOT NULL,
	[IFSCCode] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[State] [varchar](max) NULL,
	[Photo] [varchar](max) NULL,
	[Role] [int] NULL,
	[Status] [varchar](50) NULL,
	[UID] [int] NULL,
	[UName] [varchar](max) NULL,
	[Dated] [datetime] NULL,
	[ISHOC] [varchar](50) NULL,
	[OTP] [varchar](50) NULL,
	[Block] [varchar](max) NULL,
	[Floor] [varchar](max) NULL,
	[Intercom] [varchar](max) NULL,
	[RoomNo] [varchar](max) NULL,
 CONSTRAINT [PK_PR_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PR_tbl_ProjectStaff]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PR_tbl_ProjectStaff](
	[PSTID] [int] IDENTITY(1,1) NOT NULL,
	[SNo] [int] NOT NULL,
	[OID] [int] NULL,
	[ETID] [int] NULL,
	[ECID] [int] NULL,
	[EGID] [int] NULL,
	[EmpGroup] [varchar](max) NULL,
	[PSID] [int] NULL,
	[PayScale] [varchar](max) NULL,
	[DID] [int] NULL,
	[DeptID] [varchar](max) NULL,
	[DSID] [int] NULL,
	[Design] [varchar](max) NULL,
	[AttendanceID] [decimal](18, 0) NULL,
	[EmpID] [decimal](18, 0) NULL,
	[Name] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Mobile] [decimal](10, 0) NULL,
	[Aadhar] [varchar](50) NULL,
	[DOJ] [datetime] NULL,
	[DOR] [datetime] NULL,
	[Gender] [varchar](50) NULL,
	[PAN] [varchar](50) NULL,
	[BankAcType] [varchar](max) NULL,
	[BankName] [varchar](max) NULL,
	[BankBranch] [varchar](max) NULL,
	[BankAccNo] [varchar](50) NULL,
	[IFSCCode] [varchar](max) NULL,
	[Photo] [varchar](max) NULL,
	[PTID] [int] NULL,
	[ProjectCode] [varchar](max) NULL,
	[ProjectTitle] [varchar](max) NULL,
	[ProjectCoordinator] [varchar](max) NULL,
	[HEmpID] [int] NULL,
	[CentreHead] [varchar](max) NULL,
	[DOB] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[BasicPay] [decimal](18, 0) NULL,
	[GrossSal] [decimal](18, 0) NULL,
	[QuarterAllotted] [varchar](max) NULL,
	[QuarterType] [varchar](max) NULL,
	[QuarterNo] [varchar](max) NULL,
	[OfficeOrderNo] [varchar](max) NULL,
	[OfficeOrderDate] [datetime] NULL,
	[OOIssuingAuthority] [varchar](max) NULL,
	[Role] [int] NULL,
	[Status] [varchar](50) NULL,
	[UID] [int] NULL,
	[UName] [varchar](max) NULL,
	[Dated] [datetime] NULL,
	[FDOJ] [datetime] NULL,
	[EDate] [datetime] NULL,
	[CitizenType] [varchar](max) NULL,
	[AppointmentOrder] [varchar](max) NULL,
	[ISHOC] [varchar](50) NULL,
	[OTP] [varchar](50) NULL,
	[Block] [varchar](50) NULL,
	[Floor] [varchar](50) NULL,
	[Intercom] [varchar](50) NULL,
	[RoomNo] [varchar](50) NULL,
	[Flag1] [int] NULL,
	[Flag2] [int] NULL,
	[IsIncharge] [varchar](50) NULL,
	[bIsSrvHstrFilled] [bit] NULL,
 CONSTRAINT [PK_PR_tbl_ProjectStaff] PRIMARY KEY CLUSTERED 
(
	[PSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[ID] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](8) NOT NULL,
	[RoomImage] [nvarchar](550) NULL,
	[BookingStatusID] [int] NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[RoomCapacity] [int] NOT NULL,
	[RoomDescription] [nvarchar](550) NULL,
	[IsActive] [bit] NOT NULL,
	[GuestHouseID] [int] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ReasonDate] [date] NULL,
	[RoomFloor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[BookingStatus]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[BookingStatus](
	[BookingStatusID] [int] IDENTITY(1,1) NOT NULL,
	[BookingStatus] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_BookingStatus] PRIMARY KEY CLUSTERED 
(
	[BookingStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[BookingType]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[BookingType](
	[BookingTypeId] [int] NOT NULL,
	[BookingType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[GuestHouseIndex]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[GuestHouseIndex](
	[GuestHouseID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestHouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[PaymentTypes]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[PaymentTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[Roles]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[Roles](
	[Role] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Master].[RoomType]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Master].[RoomType](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[RoomType] [nvarchar](20) NOT NULL,
	[Rate] [decimal](18, 2) NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[PR_tbl_ProjectStaff] ADD  DEFAULT ((0)) FOR [bIsSrvHstrFilled]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_BookingType] FOREIGN KEY([BookingTypeID])
REFERENCES [Master].[BookingType] ([BookingTypeId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_BookingType]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PaymentType] FOREIGN KEY([PaymentTypeID])
REFERENCES [Master].[PaymentTypes] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PaymentType]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_BookingStatus] FOREIGN KEY([BookingStatusID])
REFERENCES [Master].[BookingStatus] ([BookingStatusID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_BookingStatus]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_GuestHouseIndex] FOREIGN KEY([GuestHouseID])
REFERENCES [Master].[GuestHouseIndex] ([GuestHouseID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_GuestHouseIndex]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomType] FOREIGN KEY([RoomTypeID])
REFERENCES [Master].[RoomType] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomType]
GO
/****** Object:  StoredProcedure [dbo].[spBookingDetailsCRUD]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBookingDetailsCRUD]
	(
	@Action nvarchar(10),
	@AssignRoomID int=null,
	@FirstName nvarchar(50)=null,
	@LastName nvarchar(50)=null,
	@PhoneNo nvarchar(10) =null,
	@Members int=null,
	@BookingFrom datetime=null,
	@BookingTo datetime=null,
	@Address nvarchar(200)=null,
	@Amount int=null,
	@BookingTypeID int=null,
	@trName nvarchar(50)=null,
	@trDirector nvarchar(50)=null,
	@trFrom datetime=null,
	@trTo datetime=null,
	@purpVis nvarchar(100)=null,
	@visWh nvarchar(50)=null,
	@cenVis nvarchar(50)=null,
	@BookingID int =null,
	@Extend int=null
)
AS
BEGIN
	SET NOCOUNT ON;

	IF @Action = 'INSERT'
	BEGIN
		INSERT INTO dbo.Bookings
		(
			FirstName,
			LastName,
			Address,
			BookingFrom,
			BookingTo,
			AssignRoomID,
			NoOfMembers,
			PhoneNo,
			BookingTypeID,
			TrainingName,
			TrainingDirector,
			TrainingFrom,
			TrainingTo,
			PurposeOfVisit,
			VisitingWhom,
			CenterVisiting
		)
		VALUES
		(
			@FirstName,
			@LastName,
			@Address,
			@BookingFrom,
			@BookingTo,
			@AssignRoomID,
			@Members,
			@PhoneNo,
			@BookingTypeID,
			@trName,
			@trDirector,
			@trFrom,
			@trTo,
			@purpVis,
			@visWh,
			@cenVis
		)
		UPDATE dbo.Rooms
		SET BookingStatusID=2
		WHERE RoomID=@AssignRoomID
		DECLARE @TotDays INT= DATEDIFF(DAY, @BookingFrom, @BookingTo) ;
		UPDATE dbo.Bookings
		SET TotalAmount=@TotDays*T.Rate 
		FROM
		dbo.Bookings B inner join dbo.Rooms R on R.RoomID=@AssignRoomID inner join Master.RoomType T on R.RoomTypeID=T.RoomTypeID
		WHERE B.AssignRoomID=@AssignRoomID

	END

	IF @Action ='CHECKOUT'
	BEGIN
	UPDATE dbo.Bookings
		SET isActive=0
		WHERE BookingID=@BookingID
	UPDATE dbo.Rooms
		SET BookingStatusID=1
		WHERE RoomID=@AssignRoomID
	END

	IF @Action ='EXTEND'
	BEGIN
	UPDATE dbo.Bookings
		SET BookingTo=DATEADD(DAY, @Extend, BookingTo),
		    TotalAmount=TotalAmount + @Extend*T.Rate
		FROM
		dbo.Bookings B inner join dbo.Rooms R on R.RoomID=@AssignRoomID inner join Master.RoomType T on R.RoomTypeID=T.RoomTypeID
		
		WHERE B.BookingID=@BookingID
	END
END

RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spEditManagement]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditManagement]
(
	@Action nvarchar(50),
	@Email varchar(50) =null,
	@PrimaryRole nvarchar(50)=null,
	@SecondaryRole nvarchar(50)=null
)
AS
BEGIN
	SET NOCOUNT ON;

	--EDIT
	IF @Action = 'EDIT'
	BEGIN;
		UPDATE dbo.Login
		SET
			PrimaryRole = @PrimaryRole,
			SecondaryRole = @SecondaryRole
		WHERE Email=@Email;

		DELETE FROM dbo.Registration
		WHERE Email=@Email;

	END
	
	--DELETE
	IF @Action = 'DELETE'
	BEGIN
		DELETE FROM dbo.Login
		WHERE Email=@Email;
	END

END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spFreeRooms]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[spFreeRooms]
AS
BEGIN
	UPDATE dbo.Rooms
	SET BookingStatusID=1
	FROM
		dbo.Rooms R inner join dbo.Bookings B on R.RoomID=B.AssignRoomID 
	WHERE (DATEDIFF(DAY,  DATEADD(day, -1, B.BookingTo), GETDATE())) >= 1
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAvailableRooms]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAvailableRooms]	
@GuestHouseID int,
@RoomTypeID int 

AS
BEGIN
	SELECT R.RoomNumber,R.RoomID from dbo.Rooms R where R.RoomTypeID=@RoomTypeID AND R.GuestHouseID=@GuestHouseID AND R.BookingStatusID=1 AND R.IsActive=1
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spGetAvailableRoomTypes]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAvailableRoomTypes]
	@GuestHouseID int=null
AS
BEGIN
	SET NOCOUNT ON;
	SELECT DISTINCT R.RoomTypeID,T.RoomType from dbo.Rooms R inner join Master.RoomType T on R.RoomTypeID=T.RoomTypeID 
	WHERE R.GuestHouseID=@GuestHouseID AND  R.BookingStatusID=1 AND R.IsActive=1
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spGetBookingStatus]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetBookingStatus]
	
AS
Begin
	SELECT BookingStatus,BookingStatusID from Master.BookingStatus 
End
GO
/****** Object:  StoredProcedure [dbo].[spGetBookingType]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetBookingType]
AS
BEGIN
	SELECT BookingType,BookingTypeId from Master.BookingType
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spGetGuestById]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetGuestById]
@ID int
as 
begin
	select FirstName,LastName,EmailAddress,MobileNo,ID 
	from Guest
	where GuestId=@ID
end
GO
/****** Object:  StoredProcedure [dbo].[spGetGuestHouse]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetGuestHouse]
AS
Begin
	SELECT GuestHouseID,Name from Master.GuestHouseIndex
End
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spGetReports]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetReports]
	
AS
	select count(*) as Available from dbo.Rooms R inner join Master.RoomType T  on R.RoomTypeID=T.RoomTypeID where R.IsActive=1 and R.BookingStatusID=1
	select count(*) as Blocked from dbo.Rooms R inner join Master.RoomType T  on R.RoomTypeID=T.RoomTypeID where R.IsActive=0 
	select sum(NoOfMembers) as InHouse from dbo.Bookings where BookingTo>=GETDATE()and BookingFrom<=GETDATE()
	select sum(TotalAmount) as Revenue from dbo.Bookings where BookingFrom >=dateadd(day,datediff(day,0,GetDate())- 30,0) and BookingTo<=GETDATE()
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spGetRoles]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetRoles]
AS
Begin
	SELECT Role from Master.Roles
End
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spGetRoomType]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetRoomType]
AS
Begin
	SELECT RoomType,RoomTypeID from Master.RoomType
End
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spInsertGuest]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
	CREATE PROCEDURE [dbo].[spInsertGuest]
	(	
		@FirstName nvarchar(50),
		@LastName nvarchar(50),
		@EmailAddress nvarchar(50),
		@MobileNo nvarchar(50),
		@ID nvarchar(50)
	)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO dbo.Guest 
   (
		FirstName,
		LastName,
		EmailAddress,
		MobileNo,
		ID
   )
   VALUES(
	@FirstName,
	@LastName,
	@EmailAddress,
	@MobileNo,
	@ID
   
   )
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertRegistration]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
	CREATE PROCEDURE [dbo].[spInsertRegistration]
	(	
		@FirstName nvarchar(50),
		@LastName nvarchar(50),
		@Email varchar(50),
		@MobileNo nvarchar(50),
		@ID nvarchar(50),
		@Password nvarchar(50)
	)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   INSERT INTO dbo.Registration 
   (
		FirstName,
		LastName,
		Email,
		MobileNo,
		ID,
		Password
   )
   VALUES(
	@FirstName,
	@LastName,
	@Email,
	@MobileNo,
	@ID,
	@Password
   )
END
GO
/****** Object:  StoredProcedure [dbo].[spPendingRegistration]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPendingRegistration]
(
	@Action nvarchar(50),
	@Email varchar(50) =null,
	@PrimaryRole nvarchar(50)=null,
	@SecondaryRole nvarchar(50)=null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--INSERT
	IF @Action = 'ACCEPT'
	BEGIN;
		INSERT INTO dbo.Login(
			FirstName,
			LastName,
			Email,
			MobileNo,
			ID,
			Password,
			PrimaryRole,
			SecondaryRole
		)
		SELECT 
			FirstName,
			LastName,
			Email,
			MobileNo,
			ID,
			Password,
			@PrimaryRole,
			@SecondaryRole
		FROM dbo.Registration
		WHERE Email=@Email;

		DELETE FROM dbo.Registration
		WHERE Email=@Email;

	END

	IF @Action = 'DELETE'
	BEGIN
		DELETE FROM dbo.Registration
		WHERE Email=@Email;
	END

END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[spRoomDetailsCRUD]    Script Date: 25-11-2020 01:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spRoomDetailsCRUD]
(
	@Action nvarchar(10),
	@RoomID int =null,
	@RoomNumber nvarchar(8)=null,
	@BookingStatusID int =null ,
	@RoomTypeID int=null,
	@RoomCapacity int=null,
	@RoomDescription nvarchar(550)=null,
	@GuestHouseID int=null,
	@Reason nvarchar(500)= null,
	@ReasonDate date =null,
	@RoomFloor int =null
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @Action = 'SELECT'
	BEGIN
		SELECT R.RoomID,R.IsActive,G.Name,T.Rate,R.RoomFloor,R.RoomNumber,R.RoomCapacity,B.BookingStatus,T.RoomType,R.RoomDescription from dbo.Rooms R join
		Master.BookingStatus B on B.BookingStatusID=R.BookingStatusID join Master.GuestHouseIndex G on G.GuestHouseID=R.GuestHouseID join
		Master.RoomType T on T.RoomTypeID=R.RoomTypeID
	END

	--INSERT
	IF @Action = 'INSERT'
	BEGIN
		INSERT INTO dbo.Rooms
		(
			RoomNumber ,
			BookingStatusID ,
			RoomTypeID ,
			RoomCapacity, 
			RoomDescription ,
			GuestHouseID,
			RoomFloor
		)
		VALUES
		(
			@RoomNumber ,
			1,
			@RoomTypeID ,
			@RoomCapacity ,
			@RoomDescription ,
			@GuestHouseID,
			@RoomFloor
		)
	END

	IF @Action = 'UPDATE'
	BEGIN
		UPDATE dbo.Rooms	
		SET RoomNumber=@RoomNumber,
			BookingStatusID=@BookingStatusID,
			RoomTypeID=@RoomTypeID,
			RoomCapacity=@RoomCapacity,
			RoomDescription=@RoomDescription,
			GuestHouseID=@GuestHouseID,
			RoomFloor=@RoomFloor
		WHERE RoomID=@RoomID
	END

	IF @Action = 'DELETE'
	BEGIN
		DELETE FROM dbo.Rooms
		WHERE RoomID=@RoomID
	END

	IF @Action = 'BLOCK'
	BEGIN
		UPDATE dbo.Rooms
		SET IsActive=IsActive^1,
			Reason=@Reason,
			ReasonDate=@ReasonDate
		WHERE RoomID=@RoomID
	END
	IF @Action ='UNBLOCK'
	BEGIN
		UPDATE dbo.Rooms
		SET IsActive=IsActive^1,
			Reason=NULL,
			ReasonDate=NULL
		WHERE RoomID=@RoomID
	END
END
RETURN 0
GO
USE [master]
GO
